<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>uploadPage</title>
    <script>
        function addInput() {
            const elementById = document.getElementById("formId");
            const element = document.createElement("input");
            const br = document.createElement("br");
            element.setAttribute("type", "file");
            element.setAttribute("name", "file1");
            elementById.appendChild(element);
            elementById.appendChild(br);
            elementById.appendChild(br);
        }
    </script>
</head>
<body>
<form id="formId" th:align="center" action="http://localhost:8080/fileserver/servlet/UploadHandleServlet" enctype="multipart/form-data"
      method="post">
    <table align="center" border="1px">
        <tr>
            <td><input type="submit" style="font-size: larger" value="提交"></td>
            </br>
        </tr>
        <tr>
            <td><input type="button" onclick="addInput()" value="添加上传文件"></td>
        </tr>
    </table>

    <br/>
    <input type="hidden" name="signInfo" th:value="${sp}">
    <input type="hidden" name="publicKey" th:value="${publicKey}">
    <input type="file" name="file1"><br/>

</form>
</body>
</html>